body,
html

 {
  
    width: 100%;
    height: 100%;
        background: url(header.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 

        h1 {
            white-space: nowrap; <!-- Fixes clunked together text -->
            text-overflow: ellipsis;

transform: translate(200%, 300%); 
font-family: 'sixtyfour';
font-size: 2em;
width: 200px;
height: 50px;
color:#fefefe;
    

        }
    }
    hr {
       display:flex;
       transform: translate(44%, 0%);
       
       margin-bottom: 7px;
       color: #F05F44;
       border: 3px solid #F05F44;
       width: 200%;
       height: 0%;
       opacity: 100;  
   }

        button {
        
            transform: translate(360%, 660%);
            padding: 20px 40px;
            background-color:rgb(205, 37, 157);
            color:rgb(239, 232, 232);
            font-weight: 700;
            border: solid 3px #fff;
            border-radius: 12px;
            font-size: 16px
            cursor: pointer;
            transition: all 0.3 ease-in-out;
            
        }

        button:hover {
            background-color:antiquewhite;

        }

        
    
    


        